body{
  background-color: indianred;
}
.App{
  background-color:bisque ;
  min-height: 500px;
  width: 400px;
  margin: 40px auto;
}
#to-do-form input{
  background-color: cornsilk;
  width: 200px;
  height: 50px;
  border: 0;
  padding: 0 20px;
  margin: 20px;
  font-size: 18px;
  border-radius: 10px;
  color:black;
}
#to-do-form input::placeholder{
  color: rgb(128,128,128,1.5);
}
#to-do-form input:form{
  outline:none;
}
#to-do-form button{
  height: 50px;
  width: 80px;
  border-radius: 10px;
  border: 0;
  background-color :indianred;
  cursor: pointer;
  font-weight: bolder;
  color: #fff;
}
@keyframes example {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100px);
  }
}
h1{
  font-style: oblique;
  animation: example 2s forwards;
  color:rgb(63, 122, 26);
} 